<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackComposeComprehensiveBootcamp"
        tools:targetApi="31">
        <activity
            android:name=".app2moneycounter.ComposeFundamentalsActivity"
            android:exported="true"
            android:label="@string/title_activity_compose_fundamentals"
            android:theme="@style/Theme.JetpackComposeComprehensiveBootcamp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app1bizcard.BizCardActivity"
            android:exported="false"
            android:label="@string/title_activity_biz_card"
            android:theme="@style/Theme.JetpackComposeComprehensiveBootcamp">
        </activity>
    </application>

</manifest>